# Temporary files #
###################
*.swp
*.swo
*~

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs #
######################
*.log

# Editors #
###########
.vscode

# Bins #
########
bin/*
