!###############
!# URXVT settings
!################
URxvt*scrollBar: false
URxvt*shading: 15
URxvt*scrollstyle: plain

!##################
!# URXVT schema
!##################

URxvt.buffered:         true
URxvt.background:      black
URxvt.foreground:       #00cc00
URxvt.cursorColor:      #00ff00
URxvt.underlineColor:   green
URxvt.font:             xft:Terminus:pixelsize=12:antialias=false
URxvt.urlLauncher:     /usr/bin/firefox
URxvt.matcher.button:  1 



!#transparency ---------------------------------------------------------------
!URxvt*inheritPixmap: true
!URxvt*tintColor: black
!URxvt*shading: 40




! terminal colors ------------------------------------------------------------
! matrix colorscheme by zowki

*foreground: #000000
*background: #00cc00

! Normal
! color0    black
! color1    red
! color2    green
! color3    yellow
! color4    blue
! color5    purple
! color6    cyan
! color7    white

*color0:    #000000
*color1:    #55ff55
*color2:    #00cc00
*color3:    #00cc00
*color4:    #005500
*color5:    #55ff55
*color6:    #00cc00
*color7:    #00cc00

! Light
! color8    black
! color9    red
! color10    green
! color11    yellow
! color12    blue
! color13    purple
! color14    cyan
! color15    white

*color8:    #000000
*color9:    #55ff55
*color10:    #55ff55
*color11:    #55ff55
*color12:    #005500
*color13:    #55ff55
*color14:    #55ff55
*color15:    #00cc00


! Resources:
!https://wiki.archlinux.org/index.php/X_resources#Comments
!https://wiki.archlinux.org/index.php/X_resources
!https://bbs.archlinux.org/viewtopic.php?id=91676
!https://www.askapache.com/linux/rxvt-xresources/
!https://unix.stackexchange.com/questions/104777/what-is-the-default-font-used-in-rxvt
!https://bbs.archlinux.org/viewtopic.php?id=51818&p=8
!https://unix.stackexchange.com/a/260350/338665
!https://gist.github.com/whit/1307597/da0ef6f9aaa59b5a720e27011efe9e47e170e2b9
