!###############
!# URXVT settings
!################
URxvt*scrollBar: false
URxvt*shading: 15
URxvt*scrollstyle: plain

!##################
!# URXVT schema
!##################

URxvt.buffered:         true
URxvt.background:      black
URxvt.foreground:       #24B934
URxvt.cursorColor:      #24b934
URxvt.underlineColor:   blue
URxvt.font:             xft:Terminus:pixelsize=12:antialias=false
URxvt.urlLauncher:     /usr/bin/firefox
URxvt.matcher.button:  1 



!#transparency ---------------------------------------------------------------
!URxvt*inheritPixmap: true
!URxvt*tintColor: black
!URxvt*shading: 40




! terminal colors ------------------------------------------------------------
! special
*.foreground:   #ffffff
*.background:   #000000
*.cursorColor:  #ffffff

! black
*.color0:       #252525
*.color8:       #454545

! red
*.color1:       #ff9f95
*.color9:       #ff8d80

! green
*.color2:       #a6e22e
*.color10:      #b6e354

! yellow
*.color3:       #fd971f
*.color11:      #fd971f

! blue
*.color4:       #435e87
*.color12:      #587aa4

! magenta
*.color5:       #789ec6
*.color13:      #46a4ff

! cyan
*.color6:       #5e7175
*.color14:      #a3babf

! white
*.color7:       #dbdcdc
*.color15:      #fdfdfd
